/**
 * variables
 *
 */
$bgcolor-form:        #fff;
$bgcolor-estimate:     #eee;

$color-link:    #369;
$color-visited: #369;
$color-hover:   #69c;
$color-active:  #69c;

$color_invalid: #fcc;
$color_valid:   #fff;
