/**
 * default
 *
 * @author Seiji Ogawa [s_ogawa@aiem.co.jp]
 * @prefix sfa
 */
@import 'compass';
@import 'config';
@import 'mixins';
@import 'variables';

html {
    @include box-sizing(border-box);
}
body {
    // ナビゲーションの分ずらす
    padding-top: 50px;
    background: #eee;
    @include box-sizing(border-box);
}

a {
    &:link,
    &:visited {
        color: $color-link;
    }
    &:visited,
    &:active {
        color: $color-hover;
    }
}

/**
 * preset
 *
 */
.sfa-text-align-center {
    text-align: center;
}
.sfa-text-align-right {
    text-align: right;
}
.sfa-text-align-left {
    text-align: left;
}

.sfa-text-size-small {
    font-size: 0.6em;
}
.sfa-text-size-medium {
    font-size: 1em;
}
.sfa-text-size-large {
    font-size: 1.2em;
}
.sfa-text-size-huge {
    font-size: 1.5em;
}


.sfa-10 {
    width: 10%;
}
.sfa-15 {
    width: 15%;
}
.sfa-20 {
    width: 20%;
}
.sfa-25 {
    width: 25%;
}
.sfa-30 {
    width: 30%;
}
.sfa-33 {
    width: 33%;
}
.sfa-35 {
    width: 35%;
}
.sfa-40 {
    width: 40%;
}
.sfa-50 {
    width: 50%;
}
.sfa-60 {
    width: 60%;
}
.sfa-66 {
    width: 66%;
}
.sfa-70 {
    width: 70%;
}
.sfa-80 {
    width: 80%;
}
.sfa-90 {
    width: 90%;
}
.sfa-95 {
    width: 95%;
}
.sfa-100 {
    width: 100%;
}

.sfa-left {
    float: left;
}
.sfa-clearfix {
    @include clearfix;
}

.sfa-padding,
.sfa-margin {
    @include box-sizing(border-box);
}

.sfa-padding-0-10 {
    padding: 0 10px;
}
.sfa-padding-10-0 {
    padding: 10px 0;
}
.sfa-margintop-10 {
    margin-top: 10px;
}

/**
 * overwrite
 *
 */
.form-control {
    @include box-sizing(border-box);
    padding: 2px 4px !important;
}
ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 2em;
    li>select {
        margin-bottom: 5px;
    }
}
select.form-control {
    display: inline-block;
}
table {
    background: #fff;
}
.table-bordered {
    @include box-sizing(border-box);
}
table tr th {
    background: #ccc;
    border-bottom-width: 0;
}
table tr td {
    background: #fff;
}
hr {
    margin: 30px 0 20px;
    border-color: #ccc;
}
.modal-title {
    font-weight: bold;
}
.navbar-brand {
    padding-left: 0;
}
.btn {
    @include box-sizing(border-box);
    font-size: 11px;
    margin: 0 0 3px;
}


/**
 * main
 *
 */
.sfa-container {
    @include box-sizing(border-box);
    margin: 0 15px;
}

.sfa-main {
    width: 100%;
    padding: 0;
    margin: 0;
}

.sfa-pane {
    padding: 0;
    margin: 0;
}
.sfa-pane-form {
    width: 55%;
    @include box-sizing(border-box);
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    background: #fff;
    margin-left: 45%;
}

.sfa-pane-estimate {
    width: 45%;
    float: left;
    margin: 0;
    padding: 0;
}

.sfa-link-button {
    padding-left: 4px;
    a {
        display: inline-block;
    }
    span {
        font-size: 1.4em;
        display: inline-block;
        padding-top: 6px;
    }
}
.sfa-service {
    .sfa-header {
        @include box-sizing(border-box);
        font-weight: bold;
        margin: 0;
        padding: 5px;
    }
    .sfa-article {
        @include box-sizing(border-box);
        margin-bottom: 10px;
        padding: 0 5px;
    }
    .sfa-inline {
        @include clearfix;
        div {
            @include box-sizing(border-box);
            margin:0 2px 4px 0;
        }
    }
}
.sfa-estimate {
    .sfa-header {
        @include box-sizing(border-box);
        font-weight: bold;
        margin: 0;
        padding: 5px;
    }
    .sfa-article {
        @include box-sizing(border-box);
        margin-bottom: 10px;
        padding: 5px;
    }
    .sfa-inline {
        div {
            float: left;
            margin-right: 2px;
        }
    }
}

.sfa-input-group {
    div {
        display: inline-block;
        label {
            @include border-right-radius(0);
        }
        button {
            @include border-left-radius(0);
            @include box-sizing(border-box);
            padding: 6px;
            border-left: none;
        }
    }
}

.sfa-btn-append {
    visibility: visible;
    &:link,
    &:visited {
        color: #204d74;
    }
    &:hover,
    &:active {
        color: #286090;
    }
}
.sfa-btn-remove {
    &:link,
    &:visited {
        color: #999;
    }
    &:hover,
    &:active {
        color: #ccc;
    }
}
.sfa-btn-hint {
    visibility: visible;
}

.sfa-invalid {
    background: $color_invalid;
}
.sfa-valid {
    background: $color_valid;
}

.sfa-notice {
    position: fixed;
    top: 95px;
    left: 50%;
    width: 500px;
    min-height: 1px;
    margin-top: -25px;
    margin-left: -250px;
}

.sfa-alert,
.sfa-information {
    strong {
        margin-right: 1em;
    }
    @include box-shadow(0 0 15px #999);
}
