<!-- jobaidem -->
<section class="sfa-service sfa-jobaidem">
    <header class="sfa-header">
        ジョブアイデム
    </header>
    <article class="sfa-article js-sfa-jobaidem">
        <div class="sfa-inline js-sfa-form sfa-clearfix">
            <div class="sfa-25 sfa-left">
                <select class="form-control" name=""
                    data-name="jobaidem" data-key="size">
                    <option value="">- サイズ -</option>
                </select>
            </div>
            <div class="sfa-20 sfa-left">
                <select class="form-control" name=""
                    data-name="jobaidem" data-key="span">
                    <option value="">- 期間- </option>
                </select>
            </div>
            <div class="sfa-25 sfa-left">
                <select class="form-control" name=""
                    data-name="jobaidem" data-key="area">
                    <option value="">- エリア -</option>
                </select>
            </div>
            <div class="sfa-10 sfa-left">
                <input type="number" name=""
                    data-name="jobaidem" data-key="num"
                    class="form-control sfa-4em sfa-text-align-right" min="1">
            </div>
            <div class="sfa-link-button sfa-15 sfa-left">
                <a href="#" class="sfa-btn-remove js-sfa-btn-remove"><span
                    class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </div>
        <div class="sfa-ignore sfa-text-align-center">
            <a href="#" class="js-sfa-append">
                <span class="glyphicon glyphicon-plus-sign"></span>
                行を追加
            </a>
        </div>
    </article>
    <header class="sfa-header">
        キャンペーン
    </header>
    <article class="sfa-article sfa-input-group js-sfa-input-group js-sfa-campaign">
    </article>
    <footer>
        <hr>
    </footer>
</section>
<!-- /jobaidem -->
