<section class="sfa-service sfa-title">
    <article class="sfa-article sfa-margin sfa-margintop-10">
        <div class="sfa-inline js-sfa-form">
            <input type="text" class="form-control js-sfa-title" name="datatitle" id="sfaTitle" placeholder="見積もりデータ保存名">
        </div>
    </article>
</section>
