<!-- e-aidem -->
<section class="sfa-service sfa-eaidem">
    <header class="sfa-header">
        イーアイデム
    </header>
    <article class="sfa-article js-sfa-eaidem">
        <div class="sfa-inline js-sfa-form">
            <div class="sfa-40 sfa-left">
                <select class="form-control" name=""
                    data-name="eaidem" data-key="plan">
                    <option value=""> - プラン - </option>
                </select>
            </div>
            <div class="sfa-30 sfa-left">
                <select class="form-control" name=""
                    data-name="eaidem" data-key="span">
                    <option value=""> - 期間 - </option>
                </select>
            </div>
            <div class="sfa-10 sfa-left">
                <input type="number" name=""
                    data-name="eaidem" data-key="num"
                    class="form-control sfa-text-align-right" min="1">
            </div>
            <div class="sfa-link-button sfa-15 sfa-left">
                <a href="#" class="sfa-btn-remove js-sfa-btn-remove"><span
                    class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </div>
        <div class="sfa-ignore sfa-text-align-center">
            <a href="#" class="js-sfa-append">
                <span class="glyphicon glyphicon-plus-sign"></span>
                行を追加
            </a>
        </div>
    </article>
    <header class="sfa-header">
        オプション
    </header>
    <article class="sfa-article js-sfa-eaidemopt">
        <div class="sfa-inline js-sfa-form">
            <div class="sfa-70 sfa-left">
                <select class="form-control" name=""
                    data-name="eaidemopt" data-key="option">
                    <option value=""> - オプション - </option>
                </select>
            </div>
            <div class="sfa-10 sfa-left">
                <input type="number" name=""
                    data-name="eaidemopt" data-key="optnum"
                    class="form-control sfa-text-align-right" min="1">
            </div>
            <div class="sfa-link-button sfa-15 sfa-left">
                <a href="#" class="sfa-btn-remove js-sfa-btn-remove"><span
                    class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </div>
        <div class="sfa-ignore sfa-text-align-center">
            <a href="#" class="js-sfa-append">
                <span class="glyphicon glyphicon-plus-sign"></span>
                行を追加
            </a>
        </div>    </article>
    <header class="sfa-header">
        キャンペーン
    </header>
    <article class="sfa-article sfa-input-group js-sfa-input-group js-sfa-campaign">
    </article>
    <footer>
        <hr>
    </footer>
</section>
<!-- /e-aidem -->
