<!-- e-aidem -->
<section class="sfa-service sfa-total">
    <header class="sfa-header">
        トータルキャンペーン
    </header>
    <article class="sfa-article sfa-input-group js-sfa-input-group js-sfa-campaign">
    </article>
    <footer>
        <hr>
    </footer>
</section>
<!-- /e-aidem -->
