<!-- estimate -->
<section class="sfa-estimate sfa-padding sfa-padding-0-10">
    <header class="sfa-header">
        お見積もり
    </header>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="sfa-text-align-center sfa-60">内容</th>
                <th class="sfa-text-align-center sfa-15">数量</th>
                <th class="sfa-text-align-center sfa-25">金額</th>
            </tr>
        </thead>
        <tbody class="js-sfa-estimate-service">
        </tbody>
        <tfoot>
            <tr>
                <td class="sfa-text-align-left">　</td>
                <td class="sfa-text-align-right">　</td>
                <td class="sfa-text-align-right">　</td>
            </tr>
        </tfoot>
    </table>
</section>
<!-- /estimate -->
<!-- campaign -->
<section class="sfa-estimate sfa-padding sfa-padding-0-10">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="sfa-text-align-center sfa-60">キャンペーン</th>
                <th class="sfa-text-align-center sfa-25">割引</th>
            </tr>
        </thead>
        <tbody class="js-sfa-estimate-campaign">
        </tbody>
    </table>
</section>
<!-- /campaign -->
<!-- cost tax -->
<section class="sfa-estimate sfa-padding sfa-padding-0-10">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="sfa-text-align-center sfa-30">小計</th>
                <td class="sfa-text-align-right sfa-70 js-sfa-estimate-subtotal"></td>
            </tr>
            <tr>
                <th class="sfa-text-align-center sfa-30">消費税(8%)</th>
                <td class="sfa-text-align-right sfa-70 js-sfa-estimate-tax"></td>
            </tr>
        </tbody>
    </table>
</section>
<!-- /cost tax -->
<!-- total -->
<section class="sfa-estimate sfa-padding sfa-padding-0-10">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="sfa-text-align-center sfa-30">
                    <span class="sfa-text-size-large">合計金額</span>
                </th>
                <td class="sfa-text-align-right sfa-70">
                    <span class="sfa-text-size-large js-sfa-estimate-total"></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<!-- /total -->
