<%- include('../parts/_head', { siteTitle: 'AIDEM SFA' }); %>
<!-- nav -->
<%- include('../parts/_nav', { siteTitle: 'AIDEM SFA' }); %>
<!-- /nav -->

<!-- main -->
<div class="sfa-main">
    <div class="sfa-pane sfa-pane-estimate">
        <%- include('_resp_estimate')  %>
    </div>
    <div class="sfa-pane sfa-pane-form">
        <form action="/src/form.php" method="post">
        <%- include('_form_title'); %>
        <%- include('_form_eaidem'); %>
        <%- include('_form_jobaidem');  %>
        <%- include('_form_shigotojoho'); %>
        <%- include('_form_campaign'); %>

        <!-- submit -->
        <div class="sfa-text-align-center">
            <button
                type="button"
                class="btn btn-primary btn-lg js-submit"
                disabled="disabled">
                <span class="glyphicon glyphicon-ok-circle"></span>
                保存する
            </button>
        </div>
        <!-- /submit -->

        </form>
    </div>
</div>
<!-- /main -->

<%- include('../parts/_alert'); %>
<%- include('../parts/_foot'); %>
