<!-- build:js /dist/js/jquery-1.12.0.min.js -->
<script src="/src/js/jquery-1.12.0.min.js"></script>
<!-- endbuild -->
<!-- build:js /dist/js/underscore.min.js -->
<script src="/src/js/underscore.min.js"></script>
<!-- endbuild -->
<!-- build:js /dist/js/bootstrap.min.js -->
<script src="/src/js/bootstrap.min.js"></script>
<!-- endbuild -->
<!-- build:js /dist/js/require.min.js data-main="/dist/js/common.min.js" NO_CONCATENATE -->
<script src="/src/js/require.min.js" data-main="/src/js/common.js"></script>
<!-- endbuild -->

</body>
</html>
