<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= siteTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="アイデムSFA">
    <meta name="description" content="アイデムSFA">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <!-- build:css /dist/css/bootstrap.min.css-->
    <link rel="stylesheet" href="/src/css/bootstrap.min.css">
    <!-- endbuild -->
    <!-- build:css /dist/css/common.min.css-->
    <link rel="stylesheet" href="/src/css/common.css">
    <!-- endbuild -->
</head>
<body>
