<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="sfa-container">
        <div class="navbar-header">
            <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-tent"></span>
                <%= siteTitle; %>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                       <span class="glyphicon glyphicon-file"></span>
                       データ
                       <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            データ一覧
                        </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            保存
                        </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                       <span class="glyphicon glyphicon-pencil"></span>
                       編集
                       <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#modalClear">
                            <span class="glyphicon glyphicon-trash"></span>
                            入力を全消去
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
