/**
 * default
 *
 * @author Seiji Ogawa [s_ogawa@aiem.co.jp]
 * @prefix sfa
 */
/**
 * mixins
 *
 */
/**
 * variables
 *
 */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background: #eee;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited {
  color: #369;
}
a:visited, a:active {
  color: #69c;
}

/**
 * preset
 *
 */
.sfa-text-align-center {
  text-align: center;
}

.sfa-text-align-right {
  text-align: right;
}

.sfa-text-align-left {
  text-align: left;
}

.sfa-text-size-small {
  font-size: 0.6em;
}

.sfa-text-size-medium {
  font-size: 1em;
}

.sfa-text-size-large {
  font-size: 1.2em;
}

.sfa-text-size-huge {
  font-size: 1.5em;
}

.sfa-10 {
  width: 10%;
}

.sfa-15 {
  width: 15%;
}

.sfa-20 {
  width: 20%;
}

.sfa-25 {
  width: 25%;
}

.sfa-30 {
  width: 30%;
}

.sfa-33 {
  width: 33%;
}

.sfa-35 {
  width: 35%;
}

.sfa-40 {
  width: 40%;
}

.sfa-50 {
  width: 50%;
}

.sfa-60 {
  width: 60%;
}

.sfa-66 {
  width: 66%;
}

.sfa-70 {
  width: 70%;
}

.sfa-80 {
  width: 80%;
}

.sfa-90 {
  width: 90%;
}

.sfa-95 {
  width: 95%;
}

.sfa-100 {
  width: 100%;
}

.sfa-left {
  float: left;
}

.sfa-clearfix {
  overflow: hidden;
  *zoom: 1;
}

.sfa-padding,
.sfa-margin {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sfa-padding-0-10 {
  padding: 0 10px;
}

.sfa-padding-10-0 {
  padding: 10px 0;
}

.sfa-margintop-10 {
  margin-top: 10px;
}

/**
 * overwrite
 *
 */
.form-control {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 4px !important;
}

ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 2em;
}
ol li > select {
  margin-bottom: 5px;
}

select.form-control {
  display: inline-block;
}

table {
  background: #fff;
}

.table-bordered {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table tr th {
  background: #ccc;
  border-bottom-width: 0;
}

table tr td {
  background: #fff;
}

hr {
  margin: 30px 0 20px;
  border-color: #ccc;
}

.modal-title {
  font-weight: bold;
}

.navbar-brand {
  padding-left: 0;
}

.btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  margin: 0 0 3px;
}

/**
 * main
 *
 */
.sfa-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 15px;
}

.sfa-main {
  width: 100%;
  padding: 0;
  margin: 0;
}

.sfa-pane {
  padding: 0;
  margin: 0;
}

.sfa-pane-form {
  width: 55%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  background: #fff;
  margin-left: 45%;
}

.sfa-pane-estimate {
  width: 45%;
  float: left;
  margin: 0;
  padding: 0;
}

.sfa-link-button {
  padding-left: 4px;
}
.sfa-link-button a {
  display: inline-block;
}
.sfa-link-button span {
  font-size: 1.4em;
  display: inline-block;
  padding-top: 6px;
}

.sfa-service .sfa-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
.sfa-service .sfa-article {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0 5px;
}
.sfa-service .sfa-inline {
  overflow: hidden;
  *zoom: 1;
}
.sfa-service .sfa-inline div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 2px 4px 0;
}

.sfa-estimate .sfa-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
.sfa-estimate .sfa-article {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
}
.sfa-estimate .sfa-inline div {
  float: left;
  margin-right: 2px;
}

.sfa-input-group div {
  display: inline-block;
}
.sfa-input-group div label {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sfa-input-group div button {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  border-left: none;
}

.sfa-btn-append {
  visibility: visible;
}
.sfa-btn-append:link, .sfa-btn-append:visited {
  color: #204d74;
}
.sfa-btn-append:hover, .sfa-btn-append:active {
  color: #286090;
}

.sfa-btn-remove:link, .sfa-btn-remove:visited {
  color: #999;
}
.sfa-btn-remove:hover, .sfa-btn-remove:active {
  color: #ccc;
}

.sfa-btn-hint {
  visibility: visible;
}

.sfa-invalid {
  background: #fcc;
}

.sfa-valid {
  background: #fff;
}

.sfa-notice {
  position: fixed;
  top: 95px;
  left: 50%;
  width: 500px;
  min-height: 1px;
  margin-top: -25px;
  margin-left: -250px;
}

.sfa-alert,
.sfa-information {
  -moz-box-shadow: 0 0 15px #999;
  -webkit-box-shadow: 0 0 15px #999;
  box-shadow: 0 0 15px #999;
}
.sfa-alert strong,
.sfa-information strong {
  margin-right: 1em;
}
